# ---------- NAVIGATION AND ZOOM ----------

goto_page_with_page_number ;

# Goto left/right/bottom/top side of the page
goto_left             <C-h>
goto_right            <C-l>
goto_top_of_page      <C-k>
goto_bottom_of_page   <C-j>

# Goto left/right side of the page ignoring white margins
goto_left_smart      <C-S-h>
goto_right_smart     <C-S-l>

next_page           <C-f>
previous_page       <C-b>

# Go down one screen width (can be prefixed with a number which tells how many screen widths should we go down)
screen_down         <C-d>
screen_up           <C-u>

# Goto the previous history point
prev_state          [
next_state          ]

fit_to_page_width         w
fit_to_page_width_smart   <S-w>

# Opens the last document opened is sioyek. It is usefull when you want to quickly toggle between two documents
open_last_document <backspace>

# lock horizontal scroll, usefull when using laptop touchpads
toggle_horizontal_scroll_lock zw

# ---------- SEARCH ----------

# ---------- BOOKMARKS ----------

# ---------- HIGHLIGHTS ----------

# Sets the highlight type to be used for other operations (the default highlight type is 'a')
#set_select_highlight_type sh

# Same as `add_highlight` but uses the current selected highlight type as the type of highlight
#add_highlight_with_current_type ah

## Toggle select highlight mode. In select highlight mode, all text selected using mouse will automatically be highlighted with highlight type set using `set_select_highlight_type`
toggle_select_highlight zh

# Goto next/previous highlight in current document
goto_next_highlight  gj
goto_prev_highlight  gk

# Goto next/previous highlight of the current selected highlight type
goto_next_highlight_of_type zj
goto_prev_highlight_of_type zk

# ---------- MARKS ----------

# ---------- PORTALS ----------

# Open/Close the helper window for portals
toggle_window_configuration   zp

## open/close helper window
toggle_one_window ap

# ---------- MISC ----------

copy   y

toggle_fullscreen   af

# Toggles whether we highlight pdf links or not
toggle_highlight    zl

# open command line
command             u

# Toggle dark mode (inverted colors)
toggle_dark_mode    zb

visual_mark_under_cursor;toggle_visual_scroll	<S-j>

keyboard_overview <S-k>